RewriteEngine On
RewriteCond %{REQUEST_URI} \/([0-9a-z]+)$ [NC]
RewriteRule ^(.*) url.php?U=%1 [L]

RewriteCond %{REQUEST_URI} \/oid\/([0-9a-z]+)$ [NC]
RewriteRule ^(.*) openidserver.php/idpage?user=%1 [L]
